<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="yahoologin">
	<test name="loginverify">
	<parameter name="env" value="QA"></parameter>
	<parameter name="browser" value="chrome"/>
	<parameter name="emailid" value="naganna2001@yahoo.com"/>
	
		<classes>
			<class name="firsttestngpackage.YahoologinTest">
				<methods>
				</methods>
			</class>

		</classes>
	</test>
</suite>